# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# IDE / editor specific
.vscode/
.idea/